fastapi>=0.115
uvicorn[standard]>=0.30
sqlalchemy[asyncio]>=2.0
asyncpg>=0.29
alembic>=1.13

fastapi-users[sqlalchemy]>=13.0
passlib[bcrypt]>=1.7
email-validator>=2.1

sqladmin>=0.18

pydantic>=2.9
pydantic-settings>=2.5

python-dotenv>=1.0

APScheduler==3.10.4

agora-token-builder==1.0.0
psycopg2-binary>=2.9

resend==2.32.2